/* =========================================================
other - その他
========================================================= */

// ---------------------------------------------------------------
//  ■要素内全体にaリンクを広げる
//  aリンクの上にボタンなどを追加する場合は.in-linkというクラスを振って下さい。
// ---------------------------------------------------------------
@mixin a100 {
	position: relative;
	a {
		&:not(.in-link) {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			text-indent:-999px;
			z-index: 1;
		}
		&.in-link {
			position: relative;
			z-index: 2;
		}
	}
}

@mixin hover {
	transition: .3s;
	&:hover {
		opacity: .7;
	}
}