/* =========================================================
section - コンテンツの大枠
========================================================= */

// ---------------------------------------------------------------
//  ■コンテンツの大枠
//  グリッドシステムを使う際は必須です。
// ---------------------------------------------------------------
.l-container {
	width: 100%;
	padding-right: 15px;
	padding-left: 15px;
	margin: 0 auto;

	// spサイズ
	@include mq(sm, min) {
		max-width: 606px;
	}

	//tbサイズ以上
	@include mq(md, min) {
		max-width: 798px;
	}

	// // pcサイズ以上
	@include mq(lg, min) {
		max-width: 828px;
	}

	// 大きめのpcサイズ以上
	@include mq(xl, min) {
		max-width: 1000px;
	}

	&--fluid {
		max-width: 100% !important;
	}
}