/* =========================================================
footer - フッターのレイアウト
========================================================= */

.l-footer {
	background-color: #474747;
	padding: 2rem 2rem 6rem 2rem;	

	@include mq(lg, min) {
		padding: 3rem;
	}
}