/* =========================================================
header - ヘッダー
========================================================= */

.l-header {
	//  ・headerをfixedさせる時のクラス
	// --------------------
	&.is-fixed {
		position: fixed;
		top: 0;
		left: 0;
		z-index: 5;
		width: 100%;
	}
}