/* =========================================================
color - 色の設定
========================================================= */

// ---------------------------------------------------------------
//  ■サイトのメインカラーなどの指定
//  わかりやすいように名称は適宜変更してください。
// ---------------------------------------------------------------

$main-color: #014099;
$sub-color01: #ff969d;
$sub-color02: #eaeaea;
$accent-color01: #ffffff;
$accent-color02: #ffffff;