/* =========================================================
font - font-familyの設定など
========================================================= */

// ---------------------------------------------------------------
//  ■font-familyの設定
//  デフォルトではNoto Sans JP(源ノ角ゴシック)を最優先にしています。
//  またNoto Sans JPの英数字よりもLatoの方が綺麗なので、英数字はLatoを読み込んでいます。
// ---------------------------------------------------------------

// ・Google Fontsの読み込み
// --------------------
@import url("https://fonts.googleapis.com/earlyaccess/notosansjapanese.css");
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/earlyaccess/hannari.css');

// ・ゴシック体
// --------------------

// 游ゴシックの細さの差異対策
@font-face {
	font-family: YuGothicM;
	src: local("Yu Gothic Medium");
}

// Lato + Noto Sans JP優先
$font-family-jp-sans-serif: 'Lato', "Noto Sans Japanese","游ゴシック Medium","游ゴシック体","Yu Gothic Medium",YuGothic,"ヒラギノ角ゴ ProN","Hiragino Kaku Gothic ProN","メイリオ",Meiryo,"ＭＳ Ｐゴシック","MS PGothic",sans-serif;

// 游ゴシック優先(Webフォント未使用)
// $font-family-jp-sans-serif: "游ゴシック Medium","游ゴシック体","Yu Gothic Medium",YuGothic,"ヒラギノ角ゴ ProN","Hiragino Kaku Gothic ProN","メイリオ",Meiryo,"ＭＳ Ｐゴシック","MS PGothic",sans-serif;


// ・明朝体
// --------------------
$font-family-jp-serif: Georgia,游明朝,"Yu Mincho",YuMincho,"Hiragino Mincho ProN",HGS明朝E,メイリオ,Meiryo,serif;


// ・独自に追加したWebフォントなど
// --------------------
$font-family-original-01: "Hannari", serif;