/* =========================================================
typography - テキスト関連の設定
========================================================= */



//  ・フォントサイズ
//  レガシーブラウザ用にpx指定した後、モダンブラウザ用にrem指定しています。
// --------------------
@mixin font-size($size, $base: 16) {
	font-size: $size + px;
	font-size: ($size / $base) + rem;
}

// ・デフォルトの文字サイズ
// --------------------
$base-font-size: 16px;

// ・行の高さ
// --------------------
$base-line-height: 24px;

//バーティカルリズムの設定を吐き出す
//単位をデフォルトの"em"から"rem"に変更する
$rhythm-unit: "rem";

// ・文字色
// 見出しを#333333、本文を#555555、重要度の低い文字を#777777に指定すると見やすいです。
// --------------------
$base-font-color: #333333;

// ・aリンクの文字色
// hoverなどで若干色が薄くなります。
// --------------------
@mixin link-color($color: #0044CC) {
	color: $color;

	&:hover,
	&:active,
	&:focus {
		color: lighten($color, 20%);
	}
}

