/* ---------------------------------------------------------------
	copyright - コピーライト
--------------------------------------------------------------- */

.c-copylight {
	@include font-size(12);
	color: #777777;

	&__link {
		text-decoration: none;
		@include hover;
		color: #777777;

		&:hover {
			color: #777777;
		}
	}
}