
/* =========================================================
text - 文字の装飾など
========================================================= */

// ---------------------------------------------------------------
//  ■font-color
//  各色のカラーコードは適宜変更してください。
// ---------------------------------------------------------------

//  ・メインカラー
// --------------------
.u-fc-main {
	color: $main-color !important;
}

//  ・白
// --------------------
.u-fc-white {
	color: #ffffff !important;
}

//  ・赤
// --------------------
.u-fc-red {
	color: #d90b23 !important;
}

//  ・緑
// --------------------
.u-fc-green {
	color: #766D44 !important;
}

//  ・青
// --------------------
.u-fc-blue {
	color: #2D83BA !important;
}


/// ---------------------------------------------------------------
//  ■font-weight
// ---------------------------------------------------------------

//  ・細くする
// --------------------
.u-fw-l {
	font-weight: lighter !important;
}

//  ・ノーマルにする
// --------------------
.u-fw-n {
	font-weight: normal !important;
}

//  ・太くする
// --------------------
.u-fw-b{
	font-weight: bold !important;
}


// ---------------------------------------------------------------
//  ■text-align
// ---------------------------------------------------------------

//  ・左揃え
// --------------------
.u-ta-l {
	text-align: left;
}

//  ・中央揃え
// --------------------
.u-ta-c {
	text-align: center;
}

//  ・右揃え
// --------------------
.u-ta-r {
	text-align: right;
}